*{
    margin: 0;
    padding: 0;
}

.header-container{
    background-image: url("/images/banner/banner3.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    margin: auto;

}
.header-right{
    margin-right: 150px;
    color: white;
}

.header-title{
    font-size: 70px;
    padding-bottom: 10px
    ;
}
.header-des{
    color: wheat;
    font-size: 15px;
    padding-bottom: 10px;
    line-height: 22px;
}
.btn-primary{
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: blue;
}

.my-failures-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.faiour-img{
    height: 600px;
    width: 500px;
}
main{
    padding: 100px 250px;
}

.primary-title{
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.faiour-des{
    font-size: 15px;
    padding-bottom: 10px;
    line-height: 22px;
    padding-bottom: 10px;
}

.failures-list{
    padding-left: 20px;
    line-height: 25px;
}

.my-plan-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}

.skill-container{

padding: 10px;

}   

.my-plan-title{
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px ;
}

.skill-title{
    font-size: 25px;
    margin: 10px 0;
}


.mindset-container{
    height: 250px;
    background-image: url('/images/watch.png');
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.mindset{
    padding: 50px;
}

.mindset-title{
    margin: 15px 0;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.mind-btn{
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: blue;
}

.footer-container{
    width: 100%;
    height: 60vh;
    
}

.footer-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-top: 100px;
}

.footer-title{
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

.footer-des{
    line-height: 23px;
}

.footer-subs{
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px
}

.input-field{
    height: 30px;
    width: 250px;
    padding: 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: gray solid 2px;
}

.footer-btn{
    margin-top: 13px;
    height: 50px;
    width: 150px;
    font-size: 18px;
    background-color: rgb(39, 39, 219);
    color: white;
    border: none;
    border-radius: 5px;
    
}